<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giz Resource Map Admin Panel</title>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GIZ Resource Map Admin</a>
        </div>
        <div id="navbar" class="nnav navbar-nav navbar-right navbar-collapse collapse">
          <a class="logout btn btn-default navbar-btn pull-right" href="#" onclick="window.location = window.location.href.replace(/:\/\//, '://log:out@')">
            Logout
          </a>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container form-container">
      <% if (req.query.error) { %>
        <div class="alert alert-danger" role="alert">
          Error uploading file: <%= req.query.error %>
        </div>
      <% } else if (req.query.success) { %>
        <div class="alert alert-success" role="alert">File uploaded successfully!</div>
      <% } %>

      <form action="/upload_data" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Year</label>
          <select name="year" class="form-control" required>
            <option></option>
            <% years.forEach((year) => { %>
              <option value="<%= year %>"><%= year %></option>
            <% }); %>
          </select>
        </div>

        <div class="form-group">
          <label>Production Excel file</label>
          <input type="file" name="productionFile" class="form-control">
        </div>

        <div class="form-group">
          <label>Charts Excel file</label>
          <input type="file" name="chartsFile" class="form-control">
        </div>

        <input type="submit" value="Upload" class="btn btn-primary">
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"
      integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="
      crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>
  </body>
</html>
